.flex {
    display: flex;
    flex-wrap: wrap;
}
nav .sidenav-trigger {
    font-size: 24px;
    height: 60px;
    line-height: 60px;
}
.brand-logo img {
    float: left;
    width: 48px;
    height: 48px;
    margin-top: 8px;
}
.brand-logo span {
    font-family: "Helvetica Neue", sans-serif;
    position: relative;
    left: 10px;
}
.card-action .row {
    margin-bottom: 0px;
}
.share-buttons > a {
    margin-right: 0px !important;
}
.post-title, .cat-permalink {
    font-family: "HelveticaNeue-CondensedBold", sans-serif;
    font-size: large;
}
.single-post-wrapper {
    margin:2.8rem 0 1.68rem 0;
}
.post-meta {
    font-family: "Helvetica Neue", sans-serif;
    font-size: small;
}
